<items_config>
    <wooden_fence>
        <price>
            <!--wood>2</wood-->
        </price>
        <health>200</health>
    </wooden_fence>
    <stone_wall>
        <price>
            <!--stone>2</stone-->
        </price>
        <health>500</health>
    </stone_wall>
    <tower_3>
        <price>

        </price>
        <health>300</health>
    </tower_3>
</items_config>